extends ../../layout

block head_styles
    style
        include ../../../assets/css/emails/congratsForEnroll.css

block content
    h2 Congratulations, #{userName}! 🥳
    
    p.message
        | You have registered for the event #[strong #{eventTitle}] with the registration number #[strong #{enrollNumber}] in the modality #[strong #{eventModality}]. This registration number is your unique identifier for the event, #[strong DO NOT LOSE IT].

    p.message(style="margin-top: 15px;")
        | You chose the kit: #[strong #{eventKit}]

    if kitItems && kitItems.length > 0
        table.table(cellpadding="0" cellspacing="0" width="100%" style="margin-top: 25px; margin-bottom: 25px;")
            thead
                tr
                    each item in kitItems
                        th= item.attribute
            tbody
                tr
                    each item in kitItems
                        td= item.attribute_value

    if eventWhatsappEnrolledGroup
        p.message(style="margin-top: 25px; margin-bottom: 15px;")
            | To stay informed day by day, we invite you to join our WhatsApp group:
        a.btn-whatsapp-group(target="_blank" href=eventWhatsappEnrolledGroup) Join our WhatsApp group

    p.message(style="margin-top: 30px; font-weight: bold; border-top: 1px solid #eee; padding-top: 20px;")
        | Need to contact someone related to the event?
    p.message(style="margin-top: 5px; color: #6b7280; font-size: 14px;")
        | Below are the contact details:

    table.table(cellpadding="0" cellspacing="0" width="100%" style="margin-top: 15px;")
        thead
            tr
                th Name
                th Phone number
                th WhatsApp number
        tbody
            if contacts && contacts.length > 0
                each contact in contacts
                    tr
                        td= contact.full_name
                        td= contact.phone_number
                        td= contact.whatsapp_number