doctype html
html(lang="es")
head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    style
        include ../../../assets/css/emails/userAccessCode.css

body

    table.wrapper(
        cellpadding="0"
        cellspacing="0"
        border="0"
        width="100%"
        bgcolor="#f3f4f6"
    )
        tr
            td(align="center")

                table.container(
                    cellpadding="0"
                    cellspacing="0"
                    border="0"
                    width="600"
                )

                    tr
                        td.header

                            img.logo(
                                src="cid:logo"
                                alt="Sumando Kilómetros"
                                width="90"
                                style="display:block;margin:0 auto 15px auto;"
                            )

                            h1 Sumando Kilómetros

                            p.subtitle Cada kilómetro cuenta.

                    tr
                        td.content

                            h2 🔐 Código de acceso

                            p.message
                                | Utiliza el siguiente código para iniciar sesión en tu cuenta

                            table.code-box(cellpadding="0" cellspacing="0")
                                tr
                                    td
                                        = accessCode

                            p.expire
                                strong Este código expira en 5 minutos.

                            p.info
                                | Por tu seguridad, no compartas este código con ninguna persona.

                    tr
                        td.footer

                            p
                                | Si no solicitaste este código,
                                br
                                | puedes ignorar este correo.

                            hr

                            p.footer-text
                                | © #{new Date().getFullYear()}
                                br
                                | Sumando Kilómetros